RewriteEngine On    
RewriteBase /   

RewriteRule  ^$ /hourly-job/home/index.php
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^.*$ https://timviec365.com%{REQUEST_URI} [R=301,L]
RewriteCond %{SERVER_PORT} 8080
RewriteRule ^.*$ https://timviec365.com%{REQUEST_URI} [R=301,L]

<IfModule mod_rewrite.c>
    #RewriteEngine On
    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    #RewriteCond %{HTTP_HOST} www\.(.+)$ [NC]
    #RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]
</IfModule>

RewriteEngine on    
RewriteBase /
RewriteRule  ^$ /hourly-job/home/index.php

RewriteCond %{HTTP_HOST} www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

#login
RewriteRule ^dang-ky-ung-vien.html  /hourly-job/home/registration1.php
RewriteRule ^dang-nhap-ung-vien.html  /hourly-job/home/login1.php


#Error 404 Image
ErrorDocument 400 https://timviec365.com/home/404.php
ErrorDocument 403 https://timviec365.com/home/404.php
ErrorDocument 404 https://timviec365.com/home/404.php

 
FileETag MTime Size
#Turn off Etag
Header unset Pragma
Header unset ETag 
<Files ".(js|css|html|htm|php|xml)$">
SetOutputFilter DEFLATE
</Files>
<Files *.js>
Header add "Cache-Control" "max-age=604800"
</Files>
<Files *.ico>
Header set Cache-Control "max-age=604800, public"
</Files>
<Files ".(jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=604800, public"
</Files>
<Files ".(xml|txt|css|js)$">
Header set Cache-Control "max-age=172800, proxy-revalidate"
</Files>
<Files ".(html|htm|php)$">
Header set Cache-Control "max-age=60, private, proxy-revalidate"
</Files>
<FilesMatch ".(ico|jpg|jpeg|png|gif|js|css|swf|woff)$">
Header set Expires "Tue, 16 Jun 2020 20:00:00 GMT"
</FilesMatch>
<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 seconds"
    ExpiresByType text/cache-manifest "access plus 0 seconds"
 
    # Data
    ExpiresByType text/html "access plus 0 seconds"
    ExpiresByType text/xml "access plus 0 seconds"
    ExpiresByType application/xml "access plus 0 seconds"
    ExpiresByType application/json "access plus 0 seconds"
 
    # Feed
    ExpiresByType application/rss+xml "access plus 3600 seconds"
    ExpiresByType application/atom+xml "access plus 3600 seconds"
 
    # Favicon
    ExpiresByType image/x-icon "access plus 15552000 seconds"
 
    # Media: images, video, audio
    ExpiresByType image/gif "access plus 15552000 seconds"
    ExpiresByType image/png "access plus 15552000 seconds"
    ExpiresByType image/jpeg "access plus 15552000 seconds"
    ExpiresByType image/jpg "access plus 15552000 seconds"
    ExpiresByType video/ogg "access plus 15552000 seconds"
    ExpiresByType audio/ogg "access plus 15552000 seconds"
    ExpiresByType video/mp4 "access plus 15552000 seconds"
    ExpiresByType video/webm "access plus 15552000 seconds"
 
    # HTC files  (css3pie)
    ExpiresByType text/x-component "access plus 15552000 seconds"
 
    # Webfonts
    ExpiresByType application/x-font-ttf "access plus 15552000 seconds"
    ExpiresByType font/opentype "access plus 15552000 seconds"
    ExpiresByType font/woff2 "access plus 15552000 seconds"
    ExpiresByType application/x-font-woff "access plus 15552000 seconds"
    ExpiresByType image/svg+xml "access plus 15552000 seconds"
    ExpiresByType application/vnd.ms-fontobject "access plus 15552000 seconds"
 
    # CSS and JavaScript
    ExpiresByType text/css "access plus 15552000 seconds"
    ExpiresByType application/javascript "access plus 15552000 seconds"
    ExpiresByType text/javascript "access plus 15552000 seconds"
    ExpiresByType application/javascript "access plus 15552000 seconds"
    ExpiresByType application/x-javascript "access plus 15552000 seconds"
 
    # Others files
    ExpiresByType application/x-shockwave-flash "access plus 15552000 seconds"
    ExpiresByType application/octet-stream "access plus 15552000 seconds"
</ifModule>
#Options All -Indexes
